<div id="map_wrapper">
  <div id="map" style="width: 100%; height: 500px;">
  </div>
  <div class="spots-container">
    <div class="spot-details"></div>
    <div class="spots-navigation"></div>
  </div>
</div>