<!DOCTYPE html> 
<html>
  <head>
    <title>Substance — Open Documents for the Web</title>
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script>
      var seed = {{{{seed}}}};
      var scripts = {{{{scripts}}}};
      var example = {{{{example}}}};
      var templates = {{{{templates}}}};
    </script>
    
    <script src="head.min.js"></script>
    <script>
      head.js.apply(this, scripts);
    </script>
  </head>

  <body>
    <div id="container">

    </div>
    
    <div id="footer">
      
    </div>
  </body>
</html>