<!DOCTYPE html> 
<html>
  <head>
    <title>Substance Composer</title>
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/codemirror/codemirror.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <script>
      var seed = {{{{seed}}}};
      var scripts = {{{{scripts}}}};
      var example = {{{{example}}}};
      var templates = {{{{templates}}}};
    </script>
    
    <script src="head.min.js"></script>
    <script src="codemirror/codemirror.js"></script>
    <script>
      head.js.apply(this, scripts);
    </script>
  </head>

  <body>
    <div id="header">
      Substance Composer
    </div>
    <div id="container">

    </div>
    
    <div id="footer">
      
    </div>
  </body>
</html>